.my-account-menu {
}

.my-account-menu a {
  text-decoration: none;
}

.my-account-menu li {
  position: relative;
  list-style: none;
  font-size: 14px;
}

.user-menu {
  display: flex;
}

.user-menu-item {
  display: flex;
  align-items: center;

  b {
    padding-left: 10px;
  }
}

.user-menu > li {
  margin: 0px 36.46px 0px 0px;
}
.user-menu > li > span {
  display: none;
}

.user-menu > li:hover .sub-user-menu {
  display: block;
}

.sub-user-menu {
  //display: none;
  min-width: 412px;
  position: absolute;
  top: 20px;
  left: -350px;
  padding: 20px 0 0 0;
}

.sub-user-menu>li {
  background-color: rgba(23, 24, 46, 0.98);;

  h3 {
    font-size: 16px;
    align-items: center;
    padding: 24px 15px;
  }

  .btn-sub-user-menu {
    min-width: 83px;
    height: 30px;
    margin-right: 15px;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    color: #C4C4C4;
    background-color: rgba(11, 12, 35, 0.8);

    &:active {
      color: white;
      border: 1px solid rgba(255, 255, 255, 0.1);
      background-color: rgba(0, 0, 0, 0.0001);
    }

    &:hover,
    &:focus {
      color: white;
      border-color: rgba(255, 255, 255, 0.1);
      background-color: rgba(0, 0, 0, 0.0001);
    }
  }

  &:first-child {
    border-bottom: 1px solid rgba(196, 196, 196, 0.2);
  }
}

.sub-user-menu>li:last-child {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.product-items-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 16px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.2);
}

.product-items-menu li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 16.78px;
  padding-bottom: 12px;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 14px;

    .item-price-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  .btn-card {
    width: 63px;
    height: 63px;
    margin-left: 15px;
    padding: 0;
    background-color: rgba(11, 12, 35, 0.2);
    border: none;

    .delete {
      display: none;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.0001);
      border: 1px solid rgba(255, 255, 255, 0.1);
    }

    &:hover .item-img {
      display: none;
    }
    &:hover .delete {
      display: block;
      margin: auto auto;
    }

    img {
      padding: 17px;
    }
  }
}

.sub-sub-billing-menu {
display: none;
  min-width: 412px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #17182E;
}



/*div {
  display: flex;
  align-items: center;
  margin-left: 14px;
  margin-right: 14px;

  b {
    padding-left: 8px;
  }

  span {
    display: none;
  }
} */
