.my-account-block {
  display: flex;

  div {
    display: flex;
    align-items: center;
    margin-left: 14px;
    margin-right: 14px;

    b {
      padding-left: 8px;
    }

    span {
      display: none;
    }
  }
}
